<app-nav></app-nav>


<div id="nosotros" class="card mb-19" style="max-width: 1440px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../static/Team work.gif" alt="...">
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Acerca de nosotros...</h1>
          <p class="card-text">La idea de nuestro proyecto es poder impulsar a nuevos emprendedores que quieran iniciar sus nuevas ideas de emprendimiento y también a pequeñas y medianas empresas ya establecidas que puedan crecer, todo esto a través de nuestra plataforma click, la cual dejará que los emprendedores que registren su negocio en click y puedan subir sus productos para poder venderlos por internet, todo esto con el fin de que puedan hacerse conocer aún más, brindarles la oportunidad de adaptarse al uso de esta tecnología y poder innovar en el campo comercial. </p>
          
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
