@font-face {
    font-family: Poppins-Regular;
    src: url('../../fuentes/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../../fuentes/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../../fuentes/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../../fuentes/Poppins-SemiBold.ttf'); 
  }
.bordes div {
    display: inline;
    margin: 31px 32px 0px 25px;
}

.content-magin {
    
    margin: 31px 322px 0px 251px;

}
#titulo_metodo{ font-family: Poppins-SemiBold;
    text-align: center;
    font-size: 29px;}
#parrafo{font-size: 19px;
    
}   
