<div>
  <form [formGroup]="form" (ngSubmit)="OnSubmit()">
    <div class="container">
      <div class="left">
          <div class="header">
              <h2 class="animation a1">Crea un nuevo producto</h2>
              <h4 class="animation a2">Ingresa los datos del producto</h4>
          </div>
              <div class="form">
              <input formControlName="idn" [(ngModel)]="idNegocio[0].id" type="number" class="form-field animation a3" placeholder="ID del negocio">
              <input formControlName="nombre" type="text" class="form-field animation a3" placeholder="Nombre del producto">
              <input formControlName="descripcion" type="text" class="form-field animation a4" placeholder="Descripcion">
              <input formControlName="precio" type="number" class="form-field animation a4" placeholder="Precio">
              <input formControlName="logo" type="text" class="form-field animation a4" placeholder="Logo del producto">
              <button type="submit" class="animation a6">Crear Producto</button>
          </div>
      </div>
      <div class="right"></div>
    </div>
  </form>
</div>

