<p>detalleproducto works!</p>
<section>
    <h3 class="titulo">
      Detalles del pedido
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          
          <th scope="col">img</th>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of id">
          <th scope="row">{{ producto.id }}</th>
          <th scope="row"><img [src]="producto.foto" class="img-productos" alt="productos"></th>
          <td>{{ producto.nombre }}</td>
          <td>4</td>
          <td>{{ producto.precio }}</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Torta de naranja</td>
          <td>2</td>
          <td>3.000</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>capuccino</td>
          <td>2</td>
          <td>6.000</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/vernegocio']">Seguir Comprando</button>
    <button type="submit" class="btn btn-secondary btn-lg" [routerLink]="['/pedido']">Continuar</button>
  </section>