<app-nav></app-nav>

<section>
  <h2 class="titulo">
    Detalles del pedido
  </h2>
  <div class="contenedor_titulo_negocio"></div>
  <span id="total" class=" main-color-text">Total $ {{carro.sumCarritoUser.getValue() | number}}</span>
  <table class=" bg-white table table-bordered">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Porcentaje del iva</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <!--Estos datos debe traerlos desde localStorage-->
      <tr *ngFor="let producto of carro.carritoUser.getValue()">
        
        <th scope="row"><img src="http://localhost:8000/imagenesProduct/{{producto.foto}}" class="img-productos" alt="productos"></th>     
        <td> {{ producto.nombre }} </td>
        <td> {{ producto.cantidad }} </td>
        <td>  {{producto.iva}} % </td>
        <td> {{ producto.precio }} </td>
        <td> {{ totalCantidad }}  </td>
        <td>  <button class=" btn btn-danger delete" type="button" (click)="delente(producto.id)">Eliminar</button> </td>
      </tr>


    </tbody>
  </table >
  <div class="btn-group-vertical  d-grid gap-2 col-6 mx-auto">
  <div class="boton1">
    <button type="button" class="btn btn-secondary btn-lg" id="boton1" [routerLink]="['/vernegocio']">Seguir Comprando</button>
  </div>
  <div class="boton2">
    <button type="submit" class="btn btn-secondary btn-lg" [routerLink]="['/pagos']" id="boton2" >Pagar</button>
  </div>
</div>
</section>

<app-footer></app-footer>
