<p>detalleproducto works!</p>

<div class="logo">
  <img src="../static/Logoclick125x124.png" alt="">
</div>
<section>
  <h3 class="titulo">
    Detalles del pedido
  </h3>
  <span class="main-color-text">Total $ {{carro.sumCarritoUser.getValue() | number}}</span>
  <table class="table">
    <thead>
      <tr>
         
        <th scope="col">Producto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Opciones</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <!--Estos datos debe traerlos desde localStorage-->
      <tr *ngFor="let producto of carro.carritoUser.getValue()">
        
        <th scope="row"><img [src]="producto.foto" class="img-productos" alt="productos"></th>     
        <td> {{ producto.nombre }} </td>
        <td> {{ producto.cantidad }} </td>
        <td> {{ producto.precio }} </td>
        <td>  <button type="button" (click)="delente(producto.id)">Eliminar</button> </td>
      </tr>


    </tbody>
  </table>
  <div class="boton1">
    <button type="button" class="btn btn-secondary btn-lg" id="boton1" [routerLink]="['/vernegocio']">Seguir Comprando</button>
  </div>
  <div class="boton2">
    <button type="submit" class="btn btn-secondary btn-lg" [routerLink]="['/formulario-pedido']" id="boton2" (click)="enviarPruductos()" >Continuar</button>
  </div>
</section>


