<nav class=" bg-dark navbar navbar-expand-lg navbar-dark" id="nav" >
    <div class="container-fluid " >
        <img href="http://localhost:62212" src="./static/Logit.png"  alt="" width="64px">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a  href="http://localhost:62212" class="nav-link active"  >Acerca de nosotros</a>
          </li>
        </ul>
        <a href="#" *ngIf="!(auth.isLoggedIn() | async)" [routerLink]="['/login']" id="botonini" class="nav-link active text-light" >Inicia sesion o registrate</a>

        
      <div  *ngIf="auth.isLoggedIn() | async" class="btn-group " role="group" width="64px" height="64px">
        <input id="btnGroupDrop1" type="image" src="../../static/usuarioo.png" class="btn btn dropdown-toggle btn btn-light rounded-circle" data-bs-toggle="dropdown" aria-expanded="false" width="74px" height="74px">   
        <ul class="dropdown-menu bg-light" aria-labelledby="btnGroupDrop1">
          <a href="#" *ngIf="(auth.isLoggedIn() | async)"  [routerLink]="['/mi-cuenta']" id="regis" class="btn btn">Mi cuenta</a>
          <a href="#" *ngIf="(auth.isLoggedIn() | async)"  [routerLink]="['/zona-administracion']" id="regis" class="btn btn">Mis negocios</a>
          <li class="btn btn" id="botonini" *ngIf="auth.isLoggedIn() | async" >
            <a class="btn btn" [routerLink]="['/']" (click)="auth.logout()">Salir</a>
        </li> 
        </ul>
      </div>
      </div>
    </div>
  </nav>



  