<nav class=" bg-light navbar navbar-expand-lg navbar-light" id="nav" >
    <div class="container-fluid " >
        <img src="./static/Logo.png" [routerLink]="['/']" alt="" width="54px">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a  href="#" class="nav-link" [routerLink]="['/nosotros']" >Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link active" *ngIf="(auth.isLoggedIn() | async)" [routerLink]="['/zona-administracion']">Zona de administracion</a>
          </li>
        </ul>

        <a href="#" *ngIf="!(auth.isLoggedIn() | async)" [routerLink]="['/login']" id="botonini" class="btn btn">Iniciar Sesion</a>
        <a href="#" *ngIf="!(auth.isLoggedIn() | async)" [routerLink]="['/registro']" id="botonini" class="btn btn">Registrarse</a>

      <div *ngIf="auth.isLoggedIn() | async" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false" *ngIf="auth.isLoggedIn() | async">Bienvenido {{auth.getCourrentUser()}}</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" [routerLink]="['/mi-cuenta']">Mi perfil</button>
            <button class="dropdown-item" type="button" [routerLink]="['/']"(click)="auth.logout()">Salir</button>
        </ul>
      </div>
      </div>
    </div>
  </nav>



  