#regis{background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   /* margin : 0px 5px 0px 0px;*/}

#botonini{background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*  margin : 0px 5px 0px 0px;*/} 

  
.nav-item a {
  font-size: 17px;
  font-weight: 550;
  margin-top: -12px;
}

.nav-item {
  padding: .4rem 2rem;
}

.nav-item a:hover {
  color: #FF512F;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #f09819, #FF512F)

}

