
<div>
    <div class="container">
      <div class="left">
        <div class="header">
          <h2 class="animation a1">Actualizar negocio</h2>
          <h4 class="animation a2">Reemplace los datos que quiere actualizar</h4>
        </div>
          <div class="form">
          <input formControlName="nombreNegocio" type="text" class="form-field animation a3" placeholder="Nombre del negocio">
          <select formControlName="tipoNegocio" id="card" class="form-select" aria-label="Default select example">
              <option value="">-</option>
              <option value="ropa">Ropa</option>
              <option value="alimentos">Alimentos</option>
              <option value="artesania">Artesania</option>
              <option value="electrodomesticos">Electrodomesticos</option>
              <option value="otro">Otro</option>
          </select>
          <input formControlName="direccion" type="text" class="form-field animation a4" placeholder="direccion">
          <input formControlName="telefonoPrincipal" type="number" class="form-field animation a4" placeholder="telefono principal">
          <input formControlName="telefonoSecundario" type="number" class="form-field animation a4" placeholder="telefono secundario">
          <input formControlName="horarios" type="text" class="form-field animation a4" placeholder="Horarios de trabajo">
          <input formControlName="email" type="email" class="form-field animation a4" placeholder="Email">
          <input formControlName="logo" type="file" class="form-field animation a4" placeholder="Logo">
          <button type="submit" class="animation a6">Actualizar negocio</button>
        </div>
      </div>
  <div class="right"></div>
</div>
  
</div>

