<app-nav></app-nav>
<section class="seccion-perfil-empresa">
    <div class="perfil-empresa-header">
        <div class="perfil-empresa-portada">
            <div *ngFor="let empresaId of dataEmpresaId">
                <div  class="datos-img">
                    <img  [src]="empresaId.imgLogo" class="card-img-top"  alt=""></div>
                <div  class="datos-negocio">
                    <div>Nombre del negocio: {{ empresaId.nombre }}</div>
                    <div>Tipo de negocio: {{ empresaId.tipo_negocio }} </div>
                    <div>Direccion: {{ empresaId.direccion }}</div>
                    <div>Horarios: {{ empresaId.horarios }} </div>
                    <div>Telefono1: {{ empresaId.telefono1 }}</div>
                    <div>Telefono2: {{ empresaId.telefono2 }}</div>
                    <div>Correo: {{ empresaId.correo }}</div>
                </div>
            </div>
        </div>
    </div>

    <ul class="carrito">
        <button type="button" class="cart" [routerLink]="['/detallesproducto']"><a><i class="fa fa-shopping-cart"></i>Carrito</a></button>
    </ul>

<div class="wrap">
    <h1>Productos</h1>
    <div class="store-wrapper">
        <section class="products-list">
            <div *ngFor="let producto of dataProducto" class="product-item" category="lacteos">
                <div class="card">
                    <img [src]="producto.foto" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}  {{producto.id}} </h5>
                        <p class="card-text"><small class="text-muted">precio: ${{ producto.precio | number: '1.0-0' }}</small></p>
                        <!--El minimo es de un 1 producto-->
                        <button type="submit" class="btn btn-danger ml-4" (click)="OnSubmit(producto.id)">Pedir producto {{ producto.id }}</button>
                    </div>
                </div>
            </div>

        </section>
        <app-carrito *ngIf="abrirCart"></app-carrito>
</div>
</div>



<app-footer class="footer"></app-footer>
