<app-nav></app-nav>
<section class="seccion-perfil-empresa">
    <div class="perfil-empresa-header">
        <div class="perfil-empresa-portada">
            <div *ngFor="let empresa of dataEmpresa">
                <div  class="datos-img">
                    <img  [src]="empresa.imgLogo" class="card-img-top"  alt=""></div>    
                <div  class="datos-negocio">
                    <div>Nombre del negocio: {{ empresa.nombre }}</div>
                    <div>Tipo de negocio: {{ empresa.tipo }} </div>
                    <div>Direccion: {{ empresa.direccion }}</div>
                    <div>Horarios: {{ empresa.horarios }} </div>
                    <div>Telefono1: {{ empresa.telefono1 }}</div>
                    <div>Telefono2: {{ empresa.telefono2 }}</div>
                    <div>Correo: {{ empresa.correo }}</div>
                </div>
            </div>
        </div>
    </div>
    
<div class="wrap">
    <h1>Productos</h1>
    <div class="store-wrapper">
        <section class="products-list">
            <div *ngFor="let producto of dataProducto" class="product-item" category="lacteos">
                <div class="card">
                    <img [src]="producto.foto" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text"><small class="text-muted">precio: ${{ producto.precio }}</small></p>
                        
                        <button type="button" type="submit" class="btn btn-danger ml-4"  [routerLink]="['/detallesproducto', producto.id]">Pedir producto {{ producto.id }}</button>
                    </div>
                </div>
            </div>
            
            
            <div  class="product-item" category="lacteos">
                <div class="card">
                <img src="https://admin.consumo.com.co/backend/admin/backend/web/archivosDelCliente/items/images/20200720084729-Lacteos-Refrigerados-Y-Congelados-Margarinas-y-Mantequillas-ESPARCIBLE-CAMPI-X-500-GR-PAISA-142202007200847293199.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Yogur</h5>
                    <p class="card-text"><small class="text-muted">precio: $2.500</small></p>

                    <button type="button" class="btn btn-danger ml-4" >Pedir producto </button>
                </div>
            </div>
            </div>

    </section>

</div>
</div>

<app-footer class="footer"></app-footer>