<app-nav></app-nav>
<p class="h1">Zona de administracion</p>
    <div class="portada">
        <p class="parrafo">
            Manten el control de tus negocios, acá puedes gestionar
            tus negocios creandolos, actualizando la informacion o
            eliminarlos
        </p>
    </div>
    <img src="../../static/zona-administracion.png" alt="administrador" class="portada__imagen">
    <button [routerLink]="['/registrarEmpresa']" type="button" class="btn btn-primary" id="boton">Crear nuevo negocio</button>
    <div class="contenedor_titulo_negocio"></div>
    <h4 class="negocio_titulo">
      Negocios
    </h4>
    <div *ngIf="mostrar">
      <div class="card mb-3" style="max-width:700px;" id="contenedor_negocios" *ngFor="let negocio of ensayo">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="http://localhost:8000/imagenes/{{negocio.imgLogo}}" alt="Logo del negocio" class="logo">
          </div>
          <div class="col-md-8" id="informacion_negocio">
            <div class="card-body">
              <h5 class="card-title">Nombre negocio: {{negocio.nombre}}</h5>
              <p class="card-text">Tipo de negocio: {{negocio.tipo}}</p>
              <p class="card-text">Tipo de negocio: {{negocio.direccion}}</p>
              <p class="card-text">Tipo de negocio: {{negocio.horarios}}</p>
              <button type="button" class="btn btn-primary"  id="boton_gestionar" routerLinkActive="active" [routerLink]="['/gestionar-negocio']" (click)="negocioId(negocio.id)">Gestionar Negocio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
<app-footer></app-footer>
