<app-nav></app-nav>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div class="card mb-3" style="height: 18rem" id="presentacion">
    <div class="card-body">
     <img id="ilu1" src="./static/home2.png" class="rounded float-start" alt="..."width="250px" height="250px">
     
     <p class="card-text">Encuentra los mejores productos a un click </p>
    
      <img  id="ilu2" src="./static/home1.png" class="rounded float-end" alt="..." width="250px" height="250px">
    </div>
  </div>

  <h4 class="negocio_titulo">
    Negocios
  </h4>
  <div class="contenedor_titulo_negocio"></div>
  

  <div *ngFor="let datos of dataEmpresa" class="card mb-3" style="max-width:700px;" id="negocio" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="http://localhost:8000/imagenes/{{datos.imgLogo}}" alt="Logo del negocios" srcset="" class="logo" >
      </div>
      <div class="col-md-8" id="informacion_negocio">
    <div class="card-body" >
        <p class="card-text">Nombre negocio: {{ datos.nombre }} </p>
        <p class="card-text"> Tipo de negocio: {{ datos.tipo }} </p>
        <p class="card-text">Direccion: {{ datos.direccion }} </p>
        <p class="card-text">Horarios: {{ datos.horarios }} </p>
        <a href="#"  id="boton_visitar" [routerLink]="['/vernegocio']" (click)="mostrarNegocio(datos.id)"  class="btn btn text-white">Comprar</a>
      </div>
    </div>
    </div>
</div>



<app-footer></app-footer>
